<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blast Playground</title>
	<link rel="stylesheet" href="">
	<style>
		#editor {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 50%;
			position: absolute;
		}

		#button {
			position: relative;
		}

	</style>
</head>
<body>
	<div id="editor"></div>
	<button id="#run">Run</button>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js" type="application/javascript"></script>
	<script type="application/javascript">
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/monkai");
		editor.getSession().setMode("ace/mode/javascript");
	</script>
</body>
</html>
